/* Escribe tu css aqui */
.uno{
	background-color:#F9F615;
	
}

.dos{
	background-color:red;
	
}

.tres{
	background-color:#F9F615;
	
	
}
p{
	font-size:25px;
	font-family:'Tahoma';
	height:100px;
	margin:2px 10px;
	width:200px;
	display:inline;
}