*{
	font-family:"Helvetica";
}
.header{
	padding:15px 0;
	margin:0;
	color:#fff;
	border-bottom:solid #333 1px;
	background:#333;
}

.logo{
	width:80px;
	height:80px;
}
nav ul{
	list-style-type:none;
	padding-top:34px;
	margin: 0 -15px 0 0;
	float:right;
	font-size:14px;
	line-height:14px;
	line-height:14px;
	text-transform:uppercase;
	white-space:nowrap;
}

nav li{
	position:relative;
	float:left;
	margin:0;
	padding:0;
}

nav li:hover a{
	background:#585858;
}
nav a{
	text-decoration:none;
	padding: 10px 15px;
	color:#eee;
	text-shadow:2px 2px 4px #000;
}
nav a:hover{
	color:#fff;
}
.cabecera{
	background:#000000;
	padding:10px 0 20px 0;
}
.latestEpisodes{
	margin-bottom:30;
	background-color:#EAEAEA;
	border-bottom:3px solid silver;
}
.texto{
	display:inline-block;
	text-align:center;
	width:24.5%;
	color:#6D6DAB;
	font-size:14;
	font-weight:bold;
	margin-bottom:30;
}
.latestEpisodes h4{
	display:inline;
	margin:4px;
}
a{
text-decoration:none;
color:#4764A2;
}
.latestEpisodes a{
	font-size:10px;
	text-decoration:none;
	font-weight: bold;
}
.bigImg,.lilImg{
	border:1px solid #BABABA;
	padding:2px;
	background-color: white;
	
}
.bigImg{
	width:23.4%;
	height:210px;
	margin:11.6 14 0 0;
}
.bigImgFinal{
	margin-right:0;
}

.lilImg{
	width:16%;
	margin: 5 15 0 0;
}

.texto2{
	border:none;
	display:inline-block;
	text-align:center;
	width:16%;
	font-size:14px;
	color:#4764A2;
	margin:0 10px 0 5px;
	vertical-align:top;	
}
.texto2 p{
	margin:0 0 15px 0;
	top:-3px;
    position:relative;
}
.sidebar{
	margin-top:10px;
	position:relative;
	float:right;
	color:#565555;
}
hr{ 
	margin:15px 5px 10px 0;
	border:none;
	height:2px;
	background-color:#D6D6D6;
}
.sidebar img{
	margin-left:5px;
	width:12px;
	height:12px;
}
.sidebar a p{
	font-size:14px;
	display:inline-block;
	margin:5px 0px 5px 10px;
}
.sidebar h4{
	margin-top:15px;
	margin-bottom:-13px;
}
.sidebarLittle{
	font-size:12px;
	line-height:16px;
	margin-right:45px;
}
.footer{
	background-color: #3E3D37;
	color:#EFEEE8;
	font-size:14px;
}
.footer p{
	line-height:22px;
	margin:15px 0 15px 0;
} 
.footer p a{
	color:#B7B6AE;
}
.footer ul{
	text-align:center;
}

.footer li{
	display:inline-table;
}
.footer li a{
	font-size:11;
	color:#B7B6AE;
	margin:5px
}
.copyright{
	font-size:10px;
	color:#898989;
	text-align: center;
	margin:0 0 15px 0;
}